body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-size: 1.1rem; 
}

.bg-dark {
  background: #1a1a1d !important; }

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }